@page
@model LMSModel
@{
    ViewData["Title"] = "LMS";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is the main LMS page, here we will be allowing both free-form editing, 
    and prepoluation using a number of test JSON from a database, or files.</p>
